# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
.env
.env.*
!.env.example

# Virtual environments
venv/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Data files
recordings/
*.npz
*.csv
*.pkl

# Logs
logs/
*.log

# Generated documentation
site/

# OS specific files
.DS_Store
Thumbs.dbgenerated-images/
